*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

/* body {
  height: 100vh;
} */

.container {
  margin-top: 50px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 30%;
}

.message.input {
  width: 30%;
  margin-bottom: 2rem;
}